body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
}
#menu_bar {

    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0px;
    width: 200px;
    /*background-color: #036;*/
    background-color: #292F33
}
.buttons
{

    list-style: none;
    margin-top: -5px;
    display:block;
    text-align: center;
    /*color:#FFFFFF;*/
    color:#55ACEE;
    padding: 10px;
    margin-bottom: 10px;


}
#show1{

    margin-bottom: 10px;
    background:none;
    border:none;
    margin:0;
    padding:20px;
    font-size: 20px;

}
#show2{
    margin-bottom: 10px;
    background:none;
    border:none;
    margin:0;
    padding:20px;
    font-size: 20px;

}

#show3{
    margin-bottom: 10px;
    background:none;
    border:none;
    margin:0;
    padding:20px;
    font-size: 20px;
}

#show4{
    margin-bottom: 10px;
    background:none;
    border:none;
    margin:0;
    padding:20px;
    font-size: 20px;
}
#show5{
    margin-bottom: 10px;
    background:none;
    border:none;
    border-color: #FFFFFF;
    margin:0;
    padding:20px;
    font-size: 20px;
}
.boxs
{
    right: -4%;
    position: relative;

}
.submit
{
    position: relative;
    margin-top: 10px;
    right: -33%;
    background:none;
    border:none;
    /*border-color: #FFFFFF;*/
    color: #FFFFFF;

}

main {

    float: left;
    width: 100%;
    /*background: #E1E8ED;*/
    background: #55ACEE;
    position: fixed;
    top: 0;
    bottom: 0;

}
table{
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    margin: 0px auto;
    position:fixed;
    top: 50%;
    left: 33%;
    margin-top: -9em;
    margin-left: -15em;
    vertical-align: middle;

}

table th{
    text-align: left;
    background-color: #292F33;
    color: #55ACEE;
    padding: 4px 30px 4px 8px;

}

table td{
    border: 1px solid #e3e3e3;
    border-color: #036;
    border-color: #000000;
    background-color:#CCD6DD;
    font-weight: bold;
}
nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 230px;
    margin-left: -230px;
    background: #E1E8ED;
    /*background: #eee;*/
}



#wrapper {
    border: medium;
    width: 100px;
    height: 100px;
    background: #E1E8ED;


}
.filed
{
    background: #CCD6DD;
}
